.skills {
  padding: 100px 10%;
  background: var(--bg);

}

.skills h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 50px;
  color: var(--primary);
}

.skills-container {
  max-width: 700px;
  margin: auto;
}

.skill-card {
  margin-bottom: 25px;
}

.skill-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-weight: 500;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background: linear-gradient(90deg, #00e5ff, #00bcd4);
  border-radius: 10px;
}
