.about {
  padding: 100px 10%;
  background: var(--bg);
  text-align: center;
}

.about h2 {
  font-size: 2.5rem;
  margin-bottom: 50px;
  color: var(--primary);
}

.about-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.about-card {
  background: var(--card-bg);
  padding: 30px;
  border-radius: 20px;
  transition: 0.3s ease;
  /* backdrop-filter: blur(10px); */
}

.about-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0, 229, 255, 0.15);
}

.about-card h3 {
  margin-bottom: 15px;
  color: var(--primary);
}

.about-card p {
  color: var(--text-muted);
  line-height: 1.6;
}
