.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  padding: 0 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(15, 32, 39, 0.85);
  /* backdrop-filter: blur(10px); */
  z-index: 1000;
}
.theme-toggle {
  background: none;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
  margin-left: 20px;
}


.logo {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--primary);
}

/* Desktop Nav */
.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  font-weight: 500;
  color: var(--text-muted);
  transition: 0.3s ease;
}

.nav-links a.active,
.nav-links a:hover {
  color: var(--primary);
}

/* Hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: var(--primary);
  margin: 4px 0;
  transition: 0.3s ease;
}

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.hamburger.open span:nth-child(2) {
  opacity: 0;
}
.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* Mobile Menu */
.mobile-menu {
  position: absolute;
  top: 70px;
  right: 10%;
  background: #081418;
  border-radius: 15px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mobile-menu a {
  font-size: 1.1rem;
  color: var(--text-light);
}

/* Responsive */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .hamburger {
    display: flex;
  }
}
